@import "tailwindcss";

@theme {
    --color-primary: #09f;
    --color-secondary: #ceecff;

    --font-newfont: "Roboto", sans-serif;
}

@font-face {
    font-family: 'Roboto';
    src: url(/assets/fonts/Roboto.woff2) format('woff2');
    font-style: normal;
    font-weight: 100 700;
    font-display: swap;
}
/* esto sirve para crear componentes en tailwind, cuando no trbajamos como por ejemplo con react o otro framework que genero los componentes */
.social-button {
    @apply text-3xl font-bold underline fixed top-0 right-0 left-0;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 2,
    'wght' 400,
    'GRAD' 0,
    'opsz' 50;
}